[package]
name = "pica"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.17.0", features = ["full"] }
bytes = "1"
anyhow = "1.0.56"
num-derive = "*"
num-traits = "*"
thiserror = "*"
