[package]
name = "pica"
authors = [
  "Adrien Larbanet",
  "Charlie Boutier",
  "David Duarte",
  "Henri Chataing",
]
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.17.0", features = ["full"] }
tokio-stream = { version = "0.1.8", features = ["sync"] }
bytes = "1"
anyhow = "1.0.56"
num-derive = "*"
num-traits = "*"
thiserror = "*"
glam = "0.20.3"
hyper = { version = "0.14", features = ["server", "stream", "http1", "tcp"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
structopt = "0.3.23"
hex = "0.4.3"
